---
faq:
  - question: What game versions are played in Multiplayer?
    answer: Currently the only version that supports Multiplayer is the DOS version, you can obtain the DOS version from the GOG store
  - question: How to set up a Multiplayer game?
    answer: [Hamachi]
	For example install game: C:\Earth

	Host = Create game (server):
	1.Start DosBox
	2. mount c c:\earth
	3. c:
	4. ipx true
	5. ipxnet startserver
	6. game.exe (go to menu, net, create game)

	Client:
	1. Start DosBox
	2. mount c c:\earth
	3. c:
	4. ipx true
	5. ipxnet connect xx.xxx.xxx.xxx (xxx <---server ip hamachi)
	6. game.exe

	If someone gets a sound error, just retry step 6.
  
---

<h1>FAQ</h1>

<section class="faq">
	<ul>
		{% for item in page.faq %}
			<li><a href="#{{ item.question | slugify }}">{{ item.question }}</a></li>
		{% endfor %}
	</ul>

	{% for item in page.faq %}
		<h2 id="{{ item.question | slugify}}">{{ item.question }}<a class="header-link" href="#{{ item.question | slugify }}">#</a></h2>
		{{ item.answer | markdownify }}
	{% endfor %}
</section>